# Donau-Ries static migration redirects
RewriteEngine On
Redirect 301 /3d-planer-danke/ /kontaktformular/
Redirect 301 /bad-aus-einer-hand/ /bad/
Redirect 301 /bad-zum-festpreis/ /bad/
Redirect 301 /badinspiration-musterbaeder/ /bad/
Redirect 301 /badplanung/ /bad/
Redirect 301 /badsanierung-premiumbad-ideen/ /bad/
Redirect 301 /badsanierung/ /bad/
Redirect 301 /barrierefreies-bad/ /bad/
Redirect 301 /barrierefreiheitserklaerung/ /
Redirect 301 /bhkw/ /
Redirect 301 /budgetkalkulator-bad-ihr-ergebnis/ /bad/
Redirect 301 /budgetkalkulator-bad-thank-you/ /bad/
Redirect 301 /budgetkalkulator-bad-uebersicht/ /bad/
Redirect 301 /danke-ausbildung-shk/ /kontaktformular/
Redirect 301 /danke-bad-5000-euro/ /bad/
Redirect 301 /danke-badkonfigurator-2/ /bad/
Redirect 301 /danke-badsanierung-premiumbad/ /bad/
Redirect 301 /danke-broetje-gasheizung/ /heizung/
Redirect 301 /danke-dusch-wc/ /bad/
Redirect 301 /danke-duschabtrennung/ /bad/
Redirect 301 /danke-foerderung-heizung/ /heizung/
Redirect 301 /danke-heizung/ /heizung/
Redirect 301 /danke-jobs-shk/ /kontaktformular/
Redirect 301 /danke-kontaktformular/ /kontaktformular/
Redirect 301 /danke-pelletheizung/ /heizung/
Redirect 301 /danke-photovoltaik-angebot/ /kontaktformular/
Redirect 301 /danke-samsung-waermepumpe/ /heizung/
Redirect 301 /danke-waermepumpe-angebot/ /heizung/
Redirect 301 /dezentrale-wohnraumlueftung/ /lueftung/
Redirect 301 /downloads/ /
Redirect 301 /entkalkung/ /
Redirect 301 /fluessiggas/ /heizung/
Redirect 301 /foerderung-bad/ /bad/
Redirect 301 /foerderung/ /heizung/
Redirect 301 /freshup-im-bad/ /bad/
Redirect 301 /heizen-mit-holz/ /
Redirect 301 /heizsysteme/ /
Redirect 301 /heizungskonfigurator/ /heizung/
Redirect 301 /heizungsmodernisierung/ /heizung/
Redirect 301 /ihr-badplaner/ /bad/
Redirect 301 /installation/ /
Redirect 301 /objekt-u-anlagenbau/ /leistungen-gewerbekunden/
Redirect 301 /oel-gasheizung/ /heizung/
Redirect 301 /ph_aktionsflaeche/ /
Redirect 301 /ph_jobs/ /jobs/
Redirect 301 /ph_kampagne/ /
Redirect 301 /ph_news/ /
Redirect 301 /ph_slides/ /
Redirect 301 /regen-und-grauwassernutzung/ /
Redirect 301 /sanitaeranlagen/ /leistungen-gewerbekunden/
Redirect 301 /staubsaugeranlage/ /leistungen-gewerbekunden/
Redirect 301 /unsere-partner/ /
Redirect 301 /waermepumpe/ /heizung/
Redirect 301 /wand-und-fussbodenheizung/ /heizung/
Redirect 301 /author/admin/ /
Redirect 301 /category/bad/ /bad/
Redirect 301 /category/gasvertrieb/ /heizung/
Redirect 301 /category/haustechnik/ /
Redirect 301 /category/heizsysteme/ /
Redirect 301 /category/heizung/ /heizung/
Redirect 301 /category/kaeltetechnik/ /
Redirect 301 /category/kueche/ /
Redirect 301 /category/lueftung/ /lueftung/
Redirect 301 /category/sanitaer/ /
Redirect 301 /category/sanitaeranlagen/ /leistungen-gewerbekunden/
Redirect 301 /category/waerme/ /
Redirect 301 /category/wasser/ /
Redirect 301 /ph_aktionsflaeche/badinspiration/ /bad/
Redirect 301 /ph_aktionsflaeche/barrierefreiheit-mit-system/ /
Redirect 301 /ph_aktionsflaeche/bette-freshup/ /
Redirect 301 /ph_aktionsflaeche/elementsdefault/ /
Redirect 301 /ph_aktionsflaeche/foerderung-4-6-pdf/ /heizung/
Redirect 301 /ph_aktionsflaeche/foerderung/ /heizung/
Redirect 301 /ph_aktionsflaeche/googlemaps/ /
Redirect 301 /ph_aktionsflaeche/kompetente-beratung/ /
Redirect 301 /ph_aktionsflaeche/kueco/ /
Redirect 301 /ph_aktionsflaeche/osteraktion/ /
Redirect 301 /ph_aktionsflaeche/trinkwasserhygiene/ /
Redirect 301 /ph_aktionsflaeche/weihnachtsaktionsflaeche-4/ /
Redirect 301 /ph_news/4balance-von-sanipa-bringt-natuerliche-balance-ins-bad/ /bad/
Redirect 301 /ph_news/axent-one-dusch-wc/ /bad/
Redirect 301 /ph_news/bad-mit-einbaucharakter-lin20-von-burgbad/ /bad/
Redirect 301 /ph_news/barbie-hewi/ /
Redirect 301 /ph_news/barrierefreies-bad-elements/ /bad/
Redirect 301 /ph_news/bette_air/ /
Redirect 301 /ph_news/bette_level_duscheinbau/ /bad/
Redirect 301 /ph_news/betteflat-normgerechte-duschflaeche-fuer-das-barrierefreie-bad/ /bad/
Redirect 301 /ph_news/blw-mono-von-broetje-passt-immer-einzigartig-sicher-und-einfach-installiert/ /
Redirect 301 /ph_news/bosch-einfach-perfektes-raumklima/ /
Redirect 301 /ph_news/bosch-infrarotheizung-4000p/ /heizung/
Redirect 301 /ph_news/bosch-waermepumpe-compress-7400i/ /heizung/
Redirect 301 /ph_news/bosch_luftreiniger-air4000/ /
Redirect 301 /ph_news/bosch_power-charge7000i/ /
Redirect 301 /ph_news/broetje_kit65/ /
Redirect 301 /ph_news/broetje_waermepumpe_eco1/ /heizung/
Redirect 301 /ph_news/burgbad-fiumo2-0/ /bad/
Redirect 301 /ph_news/burgbad-moto/ /bad/
Redirect 301 /ph_news/burgbad_cleanflow/ /bad/
Redirect 301 /ph_news/burgbad_eqio/ /bad/
Redirect 301 /ph_news/burgbad_magic-twist/ /bad/
Redirect 301 /ph_news/burgbad_sys30/ /bad/
Redirect 301 /ph_news/conel-clear-pro-trinkwasseraufbereitung/ /
Redirect 301 /ph_news/die-echtholzkollektion-max-von-burgbad-weniger-ist-mehr/ /bad/
Redirect 301 /ph_news/die-kombiheizung-fuer-pellets-und-holz/ /heizung/
Redirect 301 /ph_news/digitale-brausearmatur-hansaactivejet/ /
Redirect 301 /ph_news/duka-black-edition-duschen-in-schwarz/ /bad/
Redirect 301 /ph_news/dusch-wc-nachruesten/ /bad/
Redirect 301 /ph_news/ess-compact-30-ff-die-flachste-duschrinne-am-markt/ /bad/
Redirect 301 /ph_news/exklusive_badkollektion_bme_burgbad/ /bad/
Redirect 301 /ph_news/gas-hybridheizung/ /heizung/
Redirect 301 /ph_news/geberit-acanto-badserie/ /bad/
Redirect 301 /ph_news/geberit-aquaclean-alba/ /
Redirect 301 /ph_news/geberit-cleanline50-sigma70/ /
Redirect 301 /ph_news/geberit-hochwasser-in-deutschland/ /
Redirect 301 /ph_news/geberit-mix-match/ /
Redirect 301 /ph_news/gessi-316/ /
Redirect 301 /ph_news/gessi-inverso/ /
Redirect 301 /ph_news/gessi-ventaglio-2/ /
Redirect 301 /ph_news/gessi-via-meravigli-emporio-2/ /
Redirect 301 /ph_news/gessi-vita/ /
Redirect 301 /ph_news/grohe-blue-sprudelgenuss-direkt-aus-der-armatur/ /
Redirect 301 /ph_news/grundfos-comfort-trinkwarmwasserzirkulationspumpe/ /
Redirect 301 /ph_news/grundfos-hauswasserwerk/ /
Redirect 301 /ph_news/grundfos-heizungspumpentausch/ /heizung/
Redirect 301 /ph_news/grundfos-scala-gartenpumpe/ /
Redirect 301 /ph_news/grundfos-scala2/ /
Redirect 301 /ph_news/grundfos_heizungsumwaelzpumpe/ /heizung/
Redirect 301 /ph_news/grundfos_multibox/ /
Redirect 301 /ph_news/grundfos_sololift2-abwasserpumpen/ /
Redirect 301 /ph_news/hansa-contemporary-kitchen/ /
Redirect 301 /ph_news/hansaaurelia/ /
Redirect 301 /ph_news/hansaelectra/ /
Redirect 301 /ph_news/hansagenesis/ /
Redirect 301 /ph_news/hansastela-2-0-die-neuen-hingucker-im-designstarken-badezimmer/ /bad/
Redirect 301 /ph_news/hansavantis-style/ /
Redirect 301 /ph_news/hansaviva_hansaoptima/ /
Redirect 301 /ph_news/kaldewei-flowline/ /
Redirect 301 /ph_news/kaldewei-flowpoint/ /
Redirect 301 /ph_news/kaldewei-invisiblegrip/ /
Redirect 301 /ph_news/kaldewei-oyo-duo/ /
Redirect 301 /ph_news/kaldewei-puro-next/ /
Redirect 301 /ph_news/kaldewei-whirlpoolwannen/ /
Redirect 301 /ph_news/kermi-individuelle-farbgestaltung-duschkabinen/ /bad/
Redirect 301 /ph_news/kermi-nobel-duschen-mit-mena/ /bad/
Redirect 301 /ph_news/kermi-pures-duschgefuehl-mit-nica/ /bad/
Redirect 301 /ph_news/keuco-black-selection/ /
Redirect 301 /ph_news/keuco-blue/ /
Redirect 301 /ph_news/keuco-edition11art/ /
Redirect 301 /ph_news/keuco-ixmo-100-elements/ /
Redirect 301 /ph_news/keuco-phoenix/ /
Redirect 301 /ph_news/keuco-plan-sensorspender/ /
Redirect 301 /ph_news/keuco-royal-lumos-spiegelschrank/ /
Redirect 301 /ph_news/keuco-somaris/ /
Redirect 301 /ph_news/keuco_axess/ /
Redirect 301 /ph_news/kludi-decus-souna-renon/ /
Redirect 301 /ph_news/kludi-e-go/ /
Redirect 301 /ph_news/kludi-kuechenarmaturen/ /
Redirect 301 /ph_news/kludi-nova-fonte-pura-waschtischarmatur/ /
Redirect 301 /ph_news/kludi-nova-fonte/ /
Redirect 301 /ph_news/kludi-renon/ /
Redirect 301 /ph_news/kwc-luna-e-ein-kuechen-klassiker/ /
Redirect 301 /ph_news/ludi-pushtronic-undkludi-touchtronic/ /
Redirect 301 /ph_news/mattschwarze_hingucker_fuer-bad_kueche_hansa/ /bad/
Redirect 301 /ph_news/mehr-als-nur-eine-heizung-wohlfuehlfaktor-fussbodenheizung/ /heizung/
Redirect 301 /ph_news/nobili-dress/ /
Redirect 301 /ph_news/novelan-helox/ /
Redirect 301 /ph_news/novelan-jabbah/ /
Redirect 301 /ph_news/novellini-ship-badewanne/ /bad/
Redirect 301 /ph_news/polaris-waermepumpe-novelan/ /heizung/
Redirect 301 /ph_news/regenwassernutzung_grundfos/ /
Redirect 301 /ph_news/rehau-kuehl-und-heizdecke/ /
Redirect 301 /ph_news/rehau-mepa-air-wc/ /
Redirect 301 /ph_news/rehau-mepa-betaetigungsplatten/ /
Redirect 301 /ph_news/rehau-rauthermneo-x5/ /
Redirect 301 /ph_news/rehau-reguard2/ /
Redirect 301 /ph_news/rehau-sauberes-trinkwasser-direk-aus-der-leitung/ /
Redirect 301 /ph_news/rehau_rautitan-flex-green/ /
Redirect 301 /ph_news/rehau_reguard_wassersicherheitssystem/ /
Redirect 301 /ph_news/schedel-duschflaeche/ /bad/
Redirect 301 /ph_news/sinea-3-0-von-burgbad-soft-minimalism-fu%cc%88r-das-moderne-bad/ /bad/
Redirect 301 /ph_news/toto-dusch-wc/ /bad/
Redirect 301 /ph_news/turboflush-spueltechnik-_wc_acanto_geberit/ /
Redirect 301 /ph_news/vigour-derby-aquawash/ /
Redirect 301 /ph_news/vigour-individual-grace/ /
Redirect 301 /ph_news/vigour-vogue-doppelwaschtischschale/ /
Redirect 301 /ph_news/vigour_smart/ /
Redirect 301 /ph_news/vigour_white_2023/ /
Redirect 301 /ph_news/was-ist-eigentlich-ein-washlet/ /
Redirect 301 /ph_news/wassersparen-imbadezimmer/ /bad/
Redirect 301 /ph_news/worauf-es-beim-kauf-eines-dusch-wcs-ankommt/ /bad/
